.title {
  font-family: 'Carter One';
}
.container {
  margin-top:100px;
  text-align: center;
}

.image-grid {
  margin-right: 100px ;
  margin-left: 100px ;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);

  .image-item:nth-child(5n){
    grid-column-end: span 2;
  }

  img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@media (max-width: 600px) {
  .search-bar-container {
    width: 300px !important;
  }
  .image-grid {
    margin-right: 10px !important ;
    margin-left: 10px !important ;
  }
}

.search-bar-container {
  width: 400px;
}